text {
    font-size: 11px;
    font-family: sans-serif;
    text-anchor: start;
    fill: black;
}

#chart {
    margin-left: 30%;
}

#legend {
    margin-left: 30%;
}

.legendColors {
    margin-right: 60px;
}

#chartLabel {
    margin-left: 30%;
}


.tooltip {
    position: absolute;
    width: 45px;
    height: 10px;
    padding: 10px;
    font: 10px sans-serif;
    text-align: center;
    color: white;
    background-color:black;
    border: 0;
    opacity: 0.5;
}